.clients-section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    display: flex;
    @include padding-section;
  }
}
.clients__title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;

    font-size: 36px;
    line-height: calc(42 / 36);
  }
}

.clients__list {
  @include flexy;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__items {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.clients__link {
  @include flexy;

  width: 210px;
  height: 92px;

  color: var(--social-link);
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: color var(--tronsformation-hover), border-color var(--tronsformation-hover);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.clients__icons {
  fill: currentColor;
}
