.mailing {
  display: flex;
  flex-direction: column;
}

.mailing__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--header-color);
}
.mailing__form {
  display: flex;
  align-items: baseline;
  gap: 20px;
}
.mailing__input {
  margin: 0;
  padding-left: 16px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  outline: transparent;

  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--hero-footer-color);
  color: rgba(255, 255, 255, 0.6);
}
.mailing__btn,
.btn {
  display: flex;
  gap: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;

  padding: 0;
  width: 216px;
  height: 50px;

  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;

  color: var(--header-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  fill: var(--header-color);

  transition: background-color var(--tronsformation-hover);

  &:hover,
  &:focus {
    background-color: #188ce8;
    border-color: transparent;
  }
}

.subscribe-icon {
  justify-content: center;
  align-items: center;
}
