.header {
  border-bottom: 1px solid #ececec;
}
.nav-bar {
  display: flex;
}
.nav-bar__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.logo {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-color);
  &:hover,
  &:focus {
    text-decoration: underline var(--accent-color);
  }
}
.logo__darck {
  color: var(--logo-color);
}

.nav-bar__items {
  display: flex;
}
.nav-bar__items .nav-bar__list:not(:last-child) {
  margin-right: 50px;
}

.nav-bar__link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color var(--tronsformation-hover);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &:active {
    color: var(--accent-color);
  }
}

.nav-bar__link--active {
  color: var(--accent-color);
}
.nav-bar__link--active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;

  color: var(--accent-color);
  background-color: var(--accent-color);
  border-radius: 4px;
}
// header contacts
.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__list {
  @include flexy;
}
.contacts .contacts__list:not(:last-child) {
  margin-right: 50px;
}
.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--content-text-color);

  transition: color var(--tronsformation-hover);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__icons {
  justify-content: center;
  margin-right: 10px;
  fill: currentColor;
}
