.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;

  background-color: var(--hero-footer-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.png);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--header-color);
  text-align: center;
}

.hero__title {
  text-align: center;
  justify-content: center;
  padding-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero__btn {
  text-align: center;
  justify-content: center;
  align-items: center;

  width: 216px;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;

  color: var(--header-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;

  transition: background-color var(--tronsformation-hover), border-color var(--tronsformation-hover);

  &:hover,
  &:focus {
    background-color: #188ce8;
    border-color: transparent;
  }
}
