.project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.projects__items {
  transition: box-shadow var(--tronsformation-hover);

  flex-basis: calc((100% - 30px * 2) / 3);

  background-color: var(--header-color);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project__card {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__thumb {
  position: relative;
  overflow: hidden;
}
.project__overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform var(--tronsformation-hover);

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  .projects__items:hover & {
    transform: translateY(0);
  }
}

.project__wrap {
  padding: 0 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--header-color);
}

.project__meta {
  padding: 20px 24px;

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.project__title {
  margin-bottom: 4px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project__text {
  color: var(--content-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
