.team-section {
  display: flex;

  @include padding-section;

  background-color: var(--secondary-main-color);
}
.team-title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.team__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.team-cards {
  text-align: center;
  flex-basis: calc((100% - 30px * 3) / 4);

  background: var(--header-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-cards__content {
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: center;
}
.team-cards__name {
  text-align: center;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);

  letter-spacing: 0.03em;
}
.team-cards__text {
  text-align: center;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--content-text-color);
}
.team-social {
  display: flex;
  justify-content: center;

  gap: 10px;
}
.team-social__items {
  @include flexy;

  border-radius: 50px;
}
.team-social__link {
  @include flexy;

  border-radius: 50%;

  width: 44px;
  height: 44px;

  color: var(--social-link);

  transition: background-color var(--tronsformation-hover), color var(--tronsformation-hover);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--header-color);
  }
}
.team-social__icons {
  fill: currentColor;
}
